In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Data-Collisions.csv')

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [4]:
print(df.columns)
print('The Dimension of the dataset is ', df.shape)

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')
The Dimension of the dataset is  (194673, 38)

In [5]:
df.groupby(['SEVERITYCODE'])['SEVERITYDESC'].value_counts(normalize=True)

SEVERITYCODE  SEVERITYDESC
1             Property Damage Only Collision    1.0
2             Injury Collision                  1.0
Name: SEVERITYDESC, dtype: float64

In [6]:
col_df = df[['SEVERITYCODE', 'SEVERITYDESC', 'LOCATION', 'ADDRTYPE', 'COLLISIONTYPE', 'PERSONCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND', 'SPEEDING']]
col_df.head()

,SEVERITYCODE,SEVERITYDESC,LOCATION,ADDRTYPE,COLLISIONTYPE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
0,2,Injury Collision,5TH AVE NE AND NE 103RD ST,Intersection,Angles,2,2,At Intersection (intersection related),N,Overcast,Wet,Daylight,NaN
1,1,Property Damage Only Collision,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Block,Sideswipe,2,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,NaN
2,1,Property Damage Only Collision,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Block,Parked Car,4,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,NaN
3,1,Property Damage Only Collision,2ND AVE BETWEEN MARION ST AND MADISON ST,Block,Other,3,3,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,NaN
4,2,Injury Collision,SWIFT AVE S AND SWIFT AV OFF RP,Intersection,Angles,2,2,At Intersection (intersection related),0,Raining,Wet,Daylight,NaN

In [7]:
col_df['SEVERITYCODE'].replace(to_replace = [2, 1], value = [1, 0], inplace =True)
col_df.head()

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

,SEVERITYCODE,SEVERITYDESC,LOCATION,ADDRTYPE,COLLISIONTYPE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
0,1,Injury Collision,5TH AVE NE AND NE 103RD ST,Intersection,Angles,2,2,At Intersection (intersection related),N,Overcast,Wet,Daylight,NaN
1,0,Property Damage Only Collision,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Block,Sideswipe,2,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,NaN
2,0,Property Damage Only Collision,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Block,Parked Car,4,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,NaN
3,0,Property Damage Only Collision,2ND AVE BETWEEN MARION ST AND MADISON ST,Block,Other,3,3,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,NaN
4,1,Injury Collision,SWIFT AVE S AND SWIFT AV OFF RP,Intersection,Angles,2,2,At Intersection (intersection related),0,Raining,Wet,Daylight,NaN

In [8]:
print(col_df['ADDRTYPE'].value_counts())
col_df = pd.concat([col_df, pd.get_dummies(col_df['ADDRTYPE'], prefix='ADDR')], axis=1)
col_df.drop(['ADDRTYPE', 'ADDR_Alley'], axis=1, inplace=True)
col_df.head()

Block           126926
Intersection     65070
Alley              751
Name: ADDRTYPE, dtype: int64

,SEVERITYCODE,SEVERITYDESC,LOCATION,COLLISIONTYPE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,ADDR_Block,ADDR_Intersection
0,1,Injury Collision,5TH AVE NE AND NE 103RD ST,Angles,2,2,At Intersection (intersection related),N,Overcast,Wet,Daylight,NaN,0,1
1,0,Property Damage Only Collision,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,2,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,NaN,1,0
2,0,Property Damage Only Collision,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,4,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,NaN,1,0
3,0,Property Damage Only Collision,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,3,3,Mid-Block (not related to intersection),N,Clear,Dry,Daylight,NaN,1,0
4,1,Injury Collision,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,2,At Intersection (intersection related),0,Raining,Wet,Daylight,NaN,0,1

In [9]:
# Using the Seattle Collision metadata thats online, UNDERINFL is coded as 0 if not and 1 if yes. 
# So I rename N as 0 and Y as 1 to coincide with the values. 

print(col_df['UNDERINFL'].value_counts())
print(col_df['UNDERINFL'].isna().value_counts())
col_df['UNDERINFL'].replace(to_replace = ['N', 'Y'], value = [0, 1], inplace = True)
col_df['UNDERINFL'] = pd.to_numeric(col_df['UNDERINFL'], errors='coerce')
col_df = col_df.dropna(subset=['UNDERINFL'])
col_df['UNDERINFL'] = col_df['UNDERINFL'].dropna()
col_df['UNDERINFL'] = col_df['UNDERINFL'].astype(int)
print('Finally, after the adjustments: ', col_df['UNDERINFL'].value_counts())
col_df.head()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64
False    189789
True       4884
Name: UNDERINFL, dtype: int64
Finally, after the adjustments:  0    180668
1      9121
Name: UNDERINFL, dtype: int64

,SEVERITYCODE,SEVERITYDESC,LOCATION,COLLISIONTYPE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,SPEEDING,ADDR_Block,ADDR_Intersection
0,1,Injury Collision,5TH AVE NE AND NE 103RD ST,Angles,2,2,At Intersection (intersection related),0,Overcast,Wet,Daylight,NaN,0,1
1,0,Property Damage Only Collision,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,2,2,Mid-Block (not related to intersection),0,Raining,Wet,Dark - Street Lights On,NaN,1,0
2,0,Property Damage Only Collision,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Parked Car,4,3,Mid-Block (not related to intersection),0,Overcast,Dry,Daylight,NaN,1,0
3,0,Property Damage Only Collision,2ND AVE BETWEEN MARION ST AND MADISON ST,Other,3,3,Mid-Block (not related to intersection),0,Clear,Dry,Daylight,NaN,1,0
4,1,Injury Collision,SWIFT AVE S AND SWIFT AV OFF RP,Angles,2,2,At Intersection (intersection related),0,Raining,Wet,Daylight,NaN,0,1

In [10]:
#frequency
print(col_df['COLLISIONTYPE'].value_counts())
col_freq = col_df.groupby(['COLLISIONTYPE']).size()/len(col_df)
print(col_freq)
col_df['COLLISIONFREQ'] = col_df['COLLISIONTYPE'].map(col_freq)
col_df[['COLLISIONTYPE', 'COLLISIONFREQ']].head()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6607
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64
COLLISIONTYPE
Angles        0.182698
Cycles        0.028532
Head On       0.010664
Left Turn     0.072201
Other         0.124891
Parked Car    0.252844
Pedestrian    0.034812
Rear Ended    0.179621
Right Turn    0.015575
Sideswipe     0.098051
dtype: float64

  COLLISIONTYPE  COLLISIONFREQ
0        Angles       0.182698
1     Sideswipe       0.098051
2    Parked Car       0.252844
3         Other       0.124891
4        Angles       0.182698

In [11]:
#probability
print(col_df['LOCATION'].value_counts())
pr_loc = col_df.groupby('LOCATION')['SEVERITYCODE'].mean()
pr_loc = pd.DataFrame(pr_loc)
pr_loc = pr_loc.rename(columns={'SEVERITYCODE' : 'YES'})
pr_loc['NO'] = 1- pr_loc['YES']

pr_loc['NO'] = np.where(pr_loc['NO']==0, 0.000001, pr_loc['NO'])
pr_loc['ODDS'] = pr_loc['YES']/pr_loc['NO']
print(pr_loc.head())

BATTERY ST TUNNEL NB BETWEEN ALASKAN WY VI NB AND AURORA AVE N    274
BATTERY ST TUNNEL SB BETWEEN AURORA AVE N AND ALASKAN WY VI SB    268
N NORTHGATE WAY BETWEEN MERIDIAN AVE N AND CORLISS AVE N          260
AURORA AVE N BETWEEN N 117TH PL AND N 125TH ST                    247
6TH AVE AND JAMES ST                                              242
                                                                 ...
NE 93RD ST BETWEEN 49TH AVE NE AND 51ST AVE NE                      1
29TH AVE W AND W RAYE ST                                            1
1ST AVE N BETWEEN PROSPECT N ST AND HIGHLAND S DR                   1
24TH AVE W BETWEEN 24 UPPER AVE W AND W RUFFNER ST                  1
S DAWSON ST BETWEEN BEACON ER AVE S AND 24TH AVE S                  1
Name: LOCATION, Length: 23956, dtype: int64
                                  YES        NO      ODDS
LOCATION
10TH AVE AND E ALDER ST      0.000000  1.000000  0.000000
10TH AVE AND E JEFFERSON ST  0.100000  0.900000  0.111111
10TH AVE AND E MADISON ST    0.100000  0.900000  0.111111
10TH AVE AND E PIKE ST       0.409091  0.590909  0.692308
10TH AVE AND E PINE ST       0.550000  0.450000  1.222222

In [12]:
col_df['LOCATION_ODDS'] = col_df['LOCATION'].map(pr_loc['ODDS'])
col_df[['LOCATION', 'LOCATION_ODDS']].head()

                                      LOCATION  LOCATION_ODDS
0                   5TH AVE NE AND NE 103RD ST       0.937500
1   AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N       0.504132
2  4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST       0.111111
3     2ND AVE BETWEEN MARION ST AND MADISON ST       0.315789
4              SWIFT AVE S AND SWIFT AV OFF RP       0.421053

In [13]:
#frequency
print(col_df['JUNCTIONTYPE'].value_counts())
junc_freq = col_df.groupby(['JUNCTIONTYPE']).size()/len(col_df)
print(junc_freq)
col_df['JUNCTION_FREQ'] = col_df['JUNCTIONTYPE'].map(junc_freq)
col_df[['JUNCTIONTYPE', 'JUNCTION_FREQ']].head()

Mid-Block (not related to intersection)              87121
At Intersection (intersection related)               61335
Mid-Block (but intersection related)                 22388
Driveway Junction                                    10538
At Intersection (but not related to intersection)     2060
Ramp Junction                                          162
Unknown                                                  7
Name: JUNCTIONTYPE, dtype: int64
JUNCTIONTYPE
At Intersection (but not related to intersection)    0.010854
At Intersection (intersection related)               0.323175
Driveway Junction                                    0.055525
Mid-Block (but intersection related)                 0.117963
Mid-Block (not related to intersection)              0.459041
Ramp Junction                                        0.000854
Unknown                                              0.000037
dtype: float64

                              JUNCTIONTYPE  JUNCTION_FREQ
0   At Intersection (intersection related)       0.323175
1  Mid-Block (not related to intersection)       0.459041
2  Mid-Block (not related to intersection)       0.459041
3  Mid-Block (not related to intersection)       0.459041
4   At Intersection (intersection related)       0.323175

In [14]:
# frequency
print(col_df['WEATHER'].value_counts())
weath_freq = col_df.groupby(['WEATHER']).size()/len(col_df)
print(weath_freq)
col_df['WEATHER_FREQ'] = col_df['WEATHER'].map(weath_freq)
col_df[['WEATHER', 'WEATHER_FREQ']].head()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64
WEATHER
Blowing Sand/Dirt           0.000295
Clear                       0.585571
Fog/Smog/Smoke              0.002998
Other                       0.004384
Overcast                    0.146025
Partly Cloudy               0.000026
Raining                     0.174641
Severe Crosswind            0.000132
Sleet/Hail/Freezing Rain    0.000595
Snowing                     0.004779
Unknown                     0.079515
dtype: float64

    WEATHER  WEATHER_FREQ
0  Overcast      0.146025
1   Raining      0.174641
2  Overcast      0.146025
3     Clear      0.585571
4   Raining      0.174641

In [15]:
# probability
print(col_df['ROADCOND'].value_counts())
road_pr = col_df.groupby(['ROADCOND'])['SEVERITYCODE'].mean()
road_pr = pd.DataFrame(road_pr)
road_pr.rename(columns = {'SEVERITYCODE' : 'YES'}, inplace = True)
road_pr['NO'] = 1-road_pr['YES']
road_pr['NO'] = np.where(road_pr['NO']==0, 0.000001, road_pr['NO'])
road_pr['ROAD_ODDS'] = road_pr['YES']/road_pr['NO']
print(road_pr.head())

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64
                    YES        NO  ROAD_ODDS
ROADCOND
Dry            0.321773  0.678227   0.474433
Ice            0.225806  0.774194   0.291667
Oil            0.375000  0.625000   0.600000
Other          0.325758  0.674242   0.483146
Sand/Mud/Dirt  0.306667  0.693333   0.442308

In [16]:
col_df['ROAD_ODDS'] = col_df['ROADCOND'].map(road_pr['ROAD_ODDS'])
col_df[['ROADCOND', 'ROAD_ODDS']].head()

  ROADCOND  ROAD_ODDS
0      Wet   0.496705
1      Wet   0.496705
2      Dry   0.474433
3      Dry   0.474433
4      Wet   0.496705

In [17]:
#probability
print(col_df['LIGHTCOND'].value_counts())
light_pr = col_df.groupby(['LIGHTCOND'])['SEVERITYCODE'].mean()
light_pr = pd.DataFrame(light_pr)
light_pr = light_pr.rename(columns = {'SEVERITYCODE' : 'YES'})
light_pr['NO'] = 1 - light_pr['YES']
light_pr['NO'] = np.where(light_pr['NO']==0, 0.000001, light_pr['NO'])
light_pr['LIGHT_ODDS'] = light_pr['YES']/light_pr['NO']
light_pr.head()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

                               YES        NO  LIGHT_ODDS
LIGHTCOND
Dark - No Street Lights   0.217306  0.782694    0.277639
Dark - Street Lights Off  0.263553  0.736447    0.357871
Dark - Street Lights On   0.298411  0.701589    0.425335
Dark - Unknown Lighting   0.363636  0.636364    0.571429
Dawn                      0.329337  0.670663    0.491061

In [18]:
col_df['LIGHT_ODDS'] = col_df['LIGHTCOND'].map(light_pr['LIGHT_ODDS'])
col_df[['LIGHTCOND', 'LIGHT_ODDS']].head()

                 LIGHTCOND  LIGHT_ODDS
0                 Daylight    0.496746
1  Dark - Street Lights On    0.425335
2                 Daylight    0.496746
3                 Daylight    0.496746
4                 Daylight    0.496746

In [19]:
print(col_df['SPEEDING'].isna().value_counts())
print(col_df['SPEEDING'].value_counts())
col_df['SPEEDING'] = col_df['SPEEDING'].fillna('N')
col_df['SPEEDING'].value_counts()

True     180456
False      9333
Name: SPEEDING, dtype: int64
Y    9333
Name: SPEEDING, dtype: int64

N    180456
Y      9333
Name: SPEEDING, dtype: int64

In [20]:
col_df = pd.concat([col_df, pd.get_dummies(col_df['SPEEDING'], prefix = 'SPEED')], axis=1)
col_df.head(2)

,SEVERITYCODE,SEVERITYDESC,LOCATION,COLLISIONTYPE,PERSONCOUNT,VEHCOUNT,JUNCTIONTYPE,UNDERINFL,WEATHER,ROADCOND,...,ADDR_Block,ADDR_Intersection,COLLISIONFREQ,LOCATION_ODDS,JUNCTION_FREQ,WEATHER_FREQ,ROAD_ODDS,LIGHT_ODDS,SPEED_N,SPEED_Y
0,1,Injury Collision,5TH AVE NE AND NE 103RD ST,Angles,2,2,At Intersection (intersection related),0,Overcast,Wet,...,0,1,0.182698,0.937500,0.323175,0.146025,0.496705,0.496746,1,0
1,0,Property Damage Only Collision,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Sideswipe,2,2,Mid-Block (not related to intersection),0,Raining,Wet,...,1,0,0.098051,0.504132,0.459041,0.174641,0.496705,0.425335,1,0

In [21]:
col_df.columns

Index(['SEVERITYCODE', 'SEVERITYDESC', 'LOCATION', 'COLLISIONTYPE',
       'PERSONCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER',
       'ROADCOND', 'LIGHTCOND', 'SPEEDING', 'ADDR_Block', 'ADDR_Intersection',
       'COLLISIONFREQ', 'LOCATION_ODDS', 'JUNCTION_FREQ', 'WEATHER_FREQ',
       'ROAD_ODDS', 'LIGHT_ODDS', 'SPEED_N', 'SPEED_Y'],
      dtype='object')

In [22]:
col_df.dropna(inplace=True)

In [23]:
desc = col_df[['SEVERITYCODE', 'SEVERITYDESC', 'LOCATION', 'COLLISIONTYPE',
       'PERSONCOUNT', 'VEHCOUNT', 'JUNCTIONTYPE', 'UNDERINFL', 'WEATHER',
       'ROADCOND', 'LIGHTCOND', 'SPEEDING', 'ADDR_Block', 'ADDR_Intersection',
       'COLLISIONFREQ', 'JUNCTION_FREQ', 'WEATHER_FREQ',
       'ROAD_ODDS', 'LIGHT_ODDS', 'SPEED_N']].describe().loc[['count', 'mean', 'std', 'min', 'max']].T

In [24]:
print(desc.round(2).to_latex())

\begin{tabular}{lrrrrr}
\toprule
{} &     count &  mean &   std &   min &    max \\
\midrule
SEVERITYCODE      &  182660.0 &  0.31 &  0.46 &  0.00 &   1.00 \\
PERSONCOUNT       &  182660.0 &  2.48 &  1.37 &  0.00 &  81.00 \\
VEHCOUNT          &  182660.0 &  1.97 &  0.56 &  0.00 &  12.00 \\
UNDERINFL         &  182660.0 &  0.05 &  0.22 &  0.00 &   1.00 \\
ADDR\_Block        &  182660.0 &  0.65 &  0.48 &  0.00 &   1.00 \\
ADDR\_Intersection &  182660.0 &  0.35 &  0.48 &  0.00 &   1.00 \\
COLLISIONFREQ     &  182660.0 &  0.16 &  0.07 &  0.01 &   0.25 \\
JUNCTION\_FREQ     &  182660.0 &  0.34 &  0.14 &  0.00 &   0.46 \\
WEATHER\_FREQ      &  182660.0 &  0.41 &  0.22 &  0.00 &   0.59 \\
ROAD\_ODDS         &  182660.0 &  0.45 &  0.11 &  0.05 &   0.60 \\
LIGHT\_ODDS        &  182660.0 &  0.45 &  0.11 &  0.05 &   0.57 \\
SPEED\_N           &  182660.0 &  0.95 &  0.22 &  0.00 &   1.00 \\
\bottomrule
\end{tabular}

In [25]:
X = col_df[['PERSONCOUNT', 'VEHCOUNT', 'UNDERINFL', 'ADDR_Block', 'ADDR_Intersection', 'COLLISIONFREQ', 'LOCATION_ODDS', 'JUNCTION_FREQ', 'WEATHER_FREQ', 'ROAD_ODDS', 'LIGHT_ODDS', 'SPEED_N', 'SPEED_Y']]
y = col_df[['SEVERITYCODE']]
X.head()

,PERSONCOUNT,VEHCOUNT,UNDERINFL,ADDR_Block,ADDR_Intersection,COLLISIONFREQ,LOCATION_ODDS,JUNCTION_FREQ,WEATHER_FREQ,ROAD_ODDS,LIGHT_ODDS,SPEED_N,SPEED_Y
0,2,2,0,0,1,0.182698,0.937500,0.323175,0.146025,0.496705,0.496746,1,0
1,2,2,0,1,0,0.098051,0.504132,0.459041,0.174641,0.496705,0.425335,1,0
2,4,3,0,1,0,0.252844,0.111111,0.459041,0.146025,0.474433,0.496746,1,0
3,3,3,0,1,0,0.124891,0.315789,0.459041,0.585571,0.474433,0.496746,1,0
4,2,2,0,0,1,0.182698,0.421053,0.323175,0.174641,0.496705,0.496746,1,0

In [26]:
import matplotlib.pyplot as plt

In [27]:
#from sklearn.feature_selection import SelectKBest
#from sklearn.feature_selection import  f_regression

In [28]:
X = X.values
y = y.values

In [29]:
from sklearn.preprocessing import PolynomialFeatures
Xpoly = PolynomialFeatures(degree=3).fit_transform(X)

In [30]:
from sklearn import preprocessing
X= preprocessing.StandardScaler().fit(X).transform(X)
Xpoly = preprocessing.StandardScaler().fit(Xpoly).transform(Xpoly)

In [31]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import  f_regression
Xpoly_new = SelectKBest(f_regression, k=13).fit_transform(Xpoly, y.ravel())
print(Xpoly_new.shape)
print(Xpoly_new[0:5])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/sklearn/feature_selection/univariate_selection.py:299: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms

(182660, 13)
[[ 0.31743298 -1.14327471  0.12561255  0.06202463  0.38690158 -1.14327471
  -0.93262733 -0.93074138 -1.06730276 -0.05017157 -0.03665753  0.18209232
   0.38690158]
 [-0.8851484  -0.16821311 -0.97569311 -0.30935249 -0.70421406 -0.16821311
  -0.54829215  0.05229338 -0.10581097 -0.92862907 -0.65413848 -0.88688163
  -0.70421406]
 [ 1.31400727  1.37111516  1.54145542  1.57101733  1.29110467  1.37111516
   1.62308092  1.60420886  1.41209466  1.66502746  1.76133674  1.55636943
   1.29110467]
 [-0.50382567  0.0986988  -0.69838602  0.01669434 -0.35823566  0.0986988
  -0.30907816  0.32138785  0.15738636 -0.75732108 -0.38803245 -0.61771562
  -0.35823566]
 [ 0.31743298 -1.14327471  0.12561255  0.06202463  0.38690158 -1.14327471
  -0.93262733 -0.93074138 -1.06730276 -0.05017157 -0.03665753  0.18209232
   0.38690158]]

In [32]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=4)
xp_train, xp_test, y_train, y_test = train_test_split(Xpoly, y, test_size = 0.3, random_state=4)
print('Size of training set: ', x_train.shape)
print('Size of test set: ', x_test.shape)
print('Size of training poly: ', y_train.shape)

Size of training set:  (127862, 13)
Size of test set:  (54798, 13)
Size of training poly:  (127862, 1)

In [33]:
xp_trainnew, xp_testnew, y_train, y_test = train_test_split(Xpoly_new, y, test_size = 0.3, random_state=4)

In [34]:
xp_train[0:5]

array([[ 0.        , -0.3478418 ,  0.04908756, ...,  0.        ,
         0.        , -0.22998366],
       [ 0.        , -1.07721906, -1.72677584, ...,  0.        ,
         0.        , -0.22998366],
       [ 0.        , -0.3478418 ,  0.04908756, ...,  0.        ,
         0.        , -0.22998366],
       [ 0.        ,  1.11091273,  0.04908756, ...,  0.        ,
         0.        , -0.22998366],
       [ 0.        , -0.3478418 ,  0.04908756, ...,  0.        ,
         0.        , -0.22998366]])

In [35]:
y.flatten()[0:5]

array([1, 0, 0, 0, 1])

In [ ]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

knum = list(range(15, 30))
err_val=[]

for k in knum:
    k_near = KNeighborsClassifier(n_neighbors = k)
    k_near.fit(x_train, y_train.flatten())
    err_val.append(metrics.accuracy_score(y_test, k_near.predict(x_test)))
    
plt.plot(knum, err_val, 'b')
plt.title("Multiple Regression Accuracy Plot")
plt.ylabel('Accuracy ')
plt.xlabel('Number of Nabors (K)')
plt.tight_layout()
#plt.show()
plt.savefig('KNN.jpg', bbox_inches = 'tight')

In [ ]:
import matplotlib.pyplot as plt

knum = list(range(15, 30))
err_val=[]

for k in knum:
    k_near = KNeighborsClassifier(n_neighbors = k)
    k_near.fit(xp_trainnew, y_train.flatten())
    err_val.append(metrics.accuracy_score(y_test, k_near.predict(xp_testnew)))
    
plt.plot(knum, err_val, 'b')
plt.title("Polynomial Accuracy Plot")
plt.ylabel('Accuracy ')
plt.xlabel('Number of Nabors (K)')
plt.tight_layout()
#plt.show()
plt.savefig('kNN_poly.jpg', bbox_inches = 'tight')

## Before Poly Fit